<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		<style type="text/css">
			.bigone {
				font-size: 50px;
				font-weight: 800;
			}
		</style>
		
		<script type="text/javascript" src="js/angular.js" ></script>
		
		<script type="text/javascript">
			/**
			 * 知识点：
			 * $cacheFactory
			 * 	- info()
			 *  - put()
			 *  - get()
			 *  - remove()
			 *  - config size:capacity
			 * $interpolate 
			 * 
			 */
		
			angular.module("myapp", [])
			.controller("cache", ["$scope", "$cacheFactory", "$interpolate", function($scope, $cacheFactory, $interpolate){
				var ngCache = $cacheFactory("data");
				
				$scope.user = {
					name : '小明',
					email : 'zhoufan879@126.com'
				};
				
				$scope.doCache = function(){
					console.log(ngCache.info());
					ngCache.put("user", $scope.user);
					
					console.log(ngCache.info());
					
					this.showTxt();
				};
				
				$scope.geetting = "Hi,{{ name }}. Your email will open on HTTP #{{ email }}#. Thank you for your join." ;
				$scope.showTxt = function(){
					var txt = $interpolate($scope.geetting);
					console.log(ngCache.get("user"));
					var _name = ngCache.get("user").name;
					var _email = ngCache.get("user").email;
					$scope.geetting = txt({ name : _name, email : _email });
				};
				
			}]);
		</script>
					
	</head>
	<body ng-app="myapp" >
		<div ng-controller="cache">
			name: <input type="text" ng-model="user.name" />
			email: <input type="email" ng-model="user.email" />
			<button ng-click="doCache()">cache</button>
			<br /><br />
			<textarea ng-model="geetting" rows="5" cols="55"></textarea>
		</div>
	</body>
</html>
