<div class="row">
	<div class="col-sm-3 col-md-2 sidebar l-left">
		<h3>Search:</h3>
		<input type="text" name="keyword" ng-model="keyword" />
		<br />
		<br /> Sort by:
		<select ng-model="orderby" ng-options="o.value for o in orders">
			<option value="">-- choose one --</option>
		</select>
		<label>
			<input type="checkbox" ng-model="rever" />reverse
		</label>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<ul class="media-list l-list">
			<li class="media list-group-item" ng-repeat="phone in list | filter:keyword | orderBy: orderby.code : rever ">
				<div class="media-left">
					<a href="#detail/{{phone.name}}">
						<img class="media-object" src="{{phone.img}}">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="#detail/{{phone.name}}">{{phone.name}}</a>
					</h4> {{phone.desc}}
				</div>
			</li>
		</ul>
	</div>
</div>